<nz-table [nzData]="ganttData" [nzScroll]="{ x: '1200px' }" [nzPagination]="false" nzBordered>
  <thead>
    <tr>
      <th class="ip-column">IP</th>
      <ng-container *ngFor="let group of allGroupedColumns">
        <th [attr.colspan]="group.children.length" class="quarter-header">{{ group.label }}</th>
      </ng-container>
    </tr>
    <tr>
      <th class="ip-column"></th>
      <ng-container *ngFor="let group of allGroupedColumns">
        <th *ngFor="let col of group.children" class="month-header">{{ col.label }}</th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of ganttData">
      <td class="ip-column">{{ row.customer }}</td>
      <ng-container *ngFor="let group of allGroupedColumns">
        <td *ngFor="let col of group.children">
          <ng-container *ngIf="getCellData(row, col.value) as cells">
            <div class="gantt-cell">
              <ng-container *ngFor="let cell of cells">
                <div class="gantt-item">
                  <div
                    class="gantt-marker"
                    [ngStyle]="{ 'background-color': cell.color }"
                    nz-tooltip
                    [nzTooltipTitle]="cell.release + ' | ' + formatFullDate(cell.date)"
                  ></div>
                  <div class="gantt-subtext">{{ cell.milestone }}</div>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </td>
      </ng-container>
    </tr>
  </tbody>
</nz-table>

/* IP column styling */
.ip-column {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  text-align: center;
}

/* Quarter header styling */
.quarter-header {
  text-align: center;
  font-weight: bold;
  background-color: #fafafa;
}

/* Month header styling */
.month-header {
  text-align: center;
  font-weight: normal;
  background-color: #f5f5f5;
}

/* Gantt cell styling */
.gantt-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  padding: 2px;
  box-sizing: border-box;
  border: 1px solid #f0f0f0;
}

/* Gantt item styling */
.gantt-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom:
::contentReference[oaicite:2]{index=2}
 
