<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<body style="margin: 0px; padding: 0; background-color:#666666">
    <table width="100%" border="0" cellpadding="0" class="wrapper">
        <tr>
            <td valign="top" style="text-align: center;">
                <table border="0" cellspacing="0" cellpadding="0" style="background-color: #fff; text-align: left; margin: 0px;" width="600">
                    <tr>
                        <td>
                            <div style="width: 600px; margin-bottom: -10px; margin-top:-10px; background-color: #fff; ">
                                <img src="http://novi.e-zassi.com/CSCDashboard/Content/images/email-header.jpg" width="600px" height="98"/>
                                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-color: #333; margin:35px;">
                                    <!--  <span style="font-family:Tahoma; font-size:11px;">-->
                                    <p><strong>THIS IS AN AUTOMATED EMAIL. DO NOT REPLY.</strong></p>
                                   
                                    <!--  Submission ID: {Challenge ID}, Title: {title}<br /><br />-->
                                    Submission ID: {title}<br /><br />
                                    Dear {submitter's name here},<br /><br />
                                    Thank you for your recent non-confidential idea submission. Your submission has been successfully received by Campbell Soup Company and will be routed to the <i>Ideas for Innovation</i> team for further review.<br /><br />
                                    The review process typically takes less than 30 days. After we've had a chance to review your idea submission you'll receive a second email that will either let you know if we are interested in learning more, or that your idea has not been selected for further exploration.<br /><br />
                                    If your idea is not selected, we would encourage you to continue visiting the <u>Ideas for Innovation</u> web site as our needs are continually changing.<br /><br />
                                    Thank you again for your interest in innovating with Campbell Soup Company.<br /><br />
                                    Regards,<br />
                                    The Campbell <i>Ideas for Innovation</i> Team<br /><br />
                                    <i>This is an automated email, please do not reply. For additional information regarding the idea submission process, please visit our <u>FAQs</u>.</i><br /><br /> 
                                    <!--</span>-->
                                    <br />
                                </div>
                                <img src="http://novi.e-zassi.com/CSCDashboard/Content/images/email-footer.jpg" width="600px" height="40" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
